.order-summary {
    padding: 25px;
}

.order-summary .title {
    text-align: center;
    margin-bottom: 50px;
}


.btn-container{
    margin-left: 49px;
}

.btn-clear {
    background-color: #FF3030;
    color: white;
    width: 232px;
    height: 48px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
.btn-clear:hover{
    background-color: #ff0000;
    border: none;
}
.btn-clear:focus{
    border: none;
    outline: none
}
.btn-review-order {
    background-color: #fba82d;
    color: white;
    width: 232px;
    height: 48px;
    border-radius: 4px;
    border: none;
    outline: none
}
.btn-review-order:hover{
    background-color: #ff9a02;
    border: none;
}
.btn-review-order:focus{
    border: none;
    outline: none
}
