.order-summary {
    padding: 20px;
    background-color: #fbebd4;
    border-radius: 8px;
}
.btn-container a{
    text-decoration: none;
}

.order-summary .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.order-summary-text {
    margin: 10px 0;
}

.order-summary-text p {
    margin: 10px 0;
}

.btn-container {
    margin-top: 20px;
}

.btn-clear,
.btn-review-order {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    text-decoration: none; /* Add this line */
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-clear {
    background-color: #ff3030;
    color: white;
}

.btn-clear:hover {
    background-color: #ff0000;
}

.btn-review-order {
    background-color: #fba82d;
    color: white;
}

.btn-review-order:hover {
    background-color: #ff9a02;
}

.btn-review-order .icon {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .order-summary {
        padding: 15px;
    }

    .btn-clear,
    .btn-review-order {
        padding: 8px;
        font-size: 0.9rem;
    }
}
