.header {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgb(252, 252, 252) 0%, rgb(202, 226, 252) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.header img {
    width: 120px;
}

.header a {
    padding-left: 20px;
    color: #000000;
}