.header{
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.header a{
    padding-left: 20px;
    color: #ffff;
}