.shop-container {
    margin-top: 110px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    width: 90%;
    margin: 45px 5%;
}

.order-container {
    background-color: #fbebd4;
    position: fixed;
    top: 150px;
    width: 20%;
    height: 650px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}